@model List<BiletPortal.Models.Slider>

<div id="header-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        @{
            int i = 0;
            string state = "";
        }

        @foreach (var item in Model)
        {
            if(i == 0)
            {
                state = "active";
            }
            else
            {
                state = " ";
            }

            <div class="carousel-item @state" style="height: 410px;">
                <img class="img-fluid" src="/SliderImage/@item.SliderImage" alt="Image">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                <div class="p-3" style="max-width: 700px;">
                    <h4 class="text-light font-weight-medium mb-3">@item.Header1</h4>
                    <h3 class="display-4 text-white font-weight-semi-bold mb-4">@item.Header2</h3>
                    <a href="" class="btn btn-light py-2 px-3">@item.Context</a>
                </div>
            </div>
        </div>
        i++;
        }  
    </div>
    <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
        <div class="btn btn-dark" style="width: 45px; height: 45px;">
            <span class="carousel-control-prev-icon mb-n2"></span>
        </div>
    </a>
    <a class="carousel-control-next" href="#header-carousel" data-slide="next">
        <div class="btn btn-dark" style="width: 45px; height: 45px;">
            <span class="carousel-control-next-icon mb-n2"></span>
        </div>
    </a>
</div>