<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title id="BiletPortal">Bilet Portal </title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css">
    <!-- Libraries Stylesheet -->
    <link href="~/Home/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/Home/css/style.css" rel="stylesheet">

    <style>

        <style >
        .navbar {
            display: flex;
            justify-content: space-around; /* Linklerin arasını eşit yapar */
            align-items: center;
            padding: 10px;
            background-color: #f8f9fa; /* İsteğe bağlı arka plan rengi */
        }

        .nav-item {
            text-decoration: none;
            font-size: 16px;
            margin: 0 10px; /* Her iki yana boşluk ekler */
            display: flex;
            align-items: center; /* Metin ve resmin hizalanmasını sağlar */
        }

            .nav-item img {
                margin-right: 8px; /* Resim ile metin arasındaki boşluğu ayarlar */
            }
    </style>

    </style>


</head>

<!-- Many of these codes were gotten comment row. Because This codes already use in the /Home/Index -->

<body>
    <!-- Topbar Start -->
    <div class="container-fluid">
        <div class="row bg-secondary py-2 px-xl-5">
            <div class="col-lg-6 d-none d-lg-block">
                @* <div class="d-inline-flex align-items-center">
                    <a class="text-dark" href="">FAQs</a>
                    <span class="text-muted px-2">|</span>
                    <a class="text-dark" href="">Help</a>
                    <span class="text-muted px-2">|</span>
                    <a class="text-dark" href="">Support</a>
                </div> *@
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <a class="text-dark px-2" href="https://www.facebook.com/">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-dark px-2" href="https://x.com/">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="text-dark px-2" href="https://www.linkedin.com/feed/">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="text-dark px-2" href="https://www.instagram.com/">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="text-dark pl-2" href="https://www.youtube.com/">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="row align-items-center py-3 px-xl-5">
            <div >
                <a href="~/Home/Index" class="text-decoration-none">
                    <h2 class="m-0 display-7 font-weight-semi-bold" style="font-family:'TR Avatar'">     <img src="~/Logo/ticket_15552065.png" weight="30" height="30" /><span style="color:mediumvioletred" weight="30" height="30">  Bilet</span> Portal</h2>
                </a>
            </div>






            <div id="navbar-links" class="navbar">
                <a href="#PopularListLink" class="nav-item nav-link" style="color:black">
                    <img src="/Logo/film-reel_3172476.png" width="23" height="23" /> Sinema
                </a>
                <a href="#TheatreListLink" class="nav-item nav-link" style="color:black">
                    <img src="/Logo/theater_708732.png" width="23" height="23" /> Tiyatro
                </a>
                <a href="#StandUpListLink" class="nav-item nav-link" style="color:black">
                    <img src="/Logo/microphone-stand_15092109.png" width="23" height="23" /> Stand Up
                </a>
                <a href="#ConcertListLink" class="nav-item nav-link" style="color:black">
                    <img src="/Logo/karaoke_5350440.png" width="23" height="23" /> Konser
                </a>
                <a href="#SporListLink" class="nav-item nav-link" style="color:black">
                    <img src="/Logo/basketball-court_8328665.png" width="23" height="23 " /> Spor
                </a>
                @await Component.InvokeAsync("CardSumList")

               
            </div>
            <partial name="_LoginPartial" />
      
         
         

         
               <!--For Login and Register Proccesses -->
           
        </div>

    </div>
  
    @RenderBody()
  
    <!-- Back to Top -->

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Eğer Home/Index sayfasındaysak kaydırarak gitme davranışı ekle
            if (window.location.pathname === "/Home/Index" || window.location.pathname === "/") {
                document.querySelectorAll('#navbar-links a').forEach(function (link) {
                    link.addEventListener('click', function (event) {
                        event.preventDefault(); // Linkin varsayılan davranışını engelle
                        const targetId = this.getAttribute('href'); // Hedef ID'yi al (# ile başlayan)
                        const targetElement = document.querySelector(targetId); // Hedef elementi bul
                        if (targetElement) {
                            // Kaydırarak gitme davranışı
                            window.scrollTo({
                                top: targetElement.offsetTop,
                                behavior: 'smooth'
                            });
                        }
                    });
                });
            } else {
                // Diğer sayfalarda tam URL'e gitme davranışı
                document.querySelectorAll('#navbar-links a').forEach(function (link) {
                    const href = link.getAttribute('href');
                    if (href.startsWith('#')) {
                        // Eğer link bir id'yi gösteriyorsa (örn. #PopularListLink), tam URL'e dönüştür
                        const newHref = `/Home/Index${href}`;
                        link.setAttribute('href', newHref);
                    }
                });
            }
        });
    </script>



   @*  <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Eğer anasayfada iseniz navbar bağlantılarını göster
            if (window.location.pathname === "/Home/Index" || window.location.pathname === "/") {
                document.getElementById("navbar-links-cinema").style.display = "block";
            }
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Eğer anasayfada iseniz navbar bağlantılarını göster
            if (window.location.pathname === "/Home/Index" || window.location.pathname === "/") {
                document.getElementById("navbar-links-theatre").style.display = "block";
            }
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Eğer anasayfada iseniz navbar bağlantılarını göster
            if (window.location.pathname === "/Home/Index" || window.location.pathname === "/") {
                document.getElementById("navbar-links-standUp").style.display = "block";
            }
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Eğer anasayfada iseniz navbar bağlantılarını göster
            if (window.location.pathname === "/Home/Index" || window.location.pathname === "/") {
                document.getElementById("navbar-links-concert").style.display = "block";
            }
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Eğer anasayfada iseniz navbar bağlantılarını göster
            if (window.location.pathname === "/Home/Index" || window.location.pathname === "/") {
                document.getElementById("navbar-links-sport").style.display = "block";
            }
        });
    </script> *@


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="~/Home/lib/easing/easing.min.js"></script>
    <script src="~/Home/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

    <!-- Sonra Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <!-- Contact Javascript File -->
    <script src="~/Home/mail/jqBootstrapValidation.min.js"></script>
    <script src="~/Home/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="~/Home/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>