@model BiletPortal.Dto.CardViewModel

<div class="col-lg-3 col-6 text-right">
    <a href="/Card/Index" class="btn border">
        <i class="fas fa-heart text-primary" ></i>
        <span class="badge">Sepetim</span>
    </a>
    <a href="/Card/Index" class="btn border">
        <i class="fas fa-shopping-cart text-primary"></i>
        <span class="badge">@Model.GrandTotal</span>
    </a>
</div>