@model BiletPortal.Dto.CardViewModel

<div  >
    <a href="/Card/Index" class="btn border">
        <img src="/Logo/ticket.png" width="32" height="32" />
        <span class="badge">Sepetim</span>
    </a>
    <a href="/Card/Index" class="btn border">
        <img src="/Logo/ticketCart.png" width="32" height="32" />
        <span class="badge">@Model.GrandTotal</span>
    </a>
</div>