@model BiletPortal.Models.ConfirmPayment

@{
    Layout = null;
}


<h1>Mail Onay Kodu</h1>
<form method="post" asp-action="TakeParamtersPayment" asp-controller="ConfirmMailForPayment">

    <div class="form-group">
        <h2>Onay Formundan gelen mail adresi : @ViewBag.Email</h2>
        <input class="form-control" type="text" value="@ViewBag.Email" asp-for="Email" />
    </div>

    <div class="form-group">
        <h2>Onay kodunu giriniz</h2>
        <input class="form-control" type="text" asp-for="ConfirmCode" />
    </div>
    <div class="form-group">
        <button class="btn btn-primary" style="background-color:lightgreen" type="submit">Onayla</button>

    </div>

</form>